amqp==2.5.2
asgiref==3.2.7
celery==4.4.2
Django==3.0.14
django-appconf==1.0.4
django-celery-results==1.2.1
django-ipware==2.1.0
django-taggit==1.2.0
djangorestframework==3.11.0
Pillow==7.0.0
pytz==2019.3
redis==3.4.1
requests==2.23.0
six==1.14.0
docker-compose
gunicorn
psycopg2