{% extends 'base.html'%}
{% load static %}

{% block content %}

  <div class="container">
    <h1>
      Sign Up Page
    </h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
        {% if 'Username' in field.label_tag %}
        {{ field }}
        <div class="valid-feedback">
          Username Ok !
        </div>
        <div class="invalid-feedback">
          Username Exists !
        </div>
        <br>
        {% else %}
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% endif %}
      <span id="message">
            {% for error in field.errors %}
            <div class="alert alert-warning" style="width:35%;">
              {{ error }}
            </div>
            {% endfor %}
      </span>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Sign Up">
  </form>
  </div>

<script src="{% static '/js/validator.js' %}"></script>

{% endblock %}
