{% extends 'base.html' %}
{% load static %}

{% block headscript %}
<link rel="stylesheet" href="{% static '/css/cart.css' %}">
{% endblock %}

{% block content %}
<div class="container">
<h1>Cart History</h1>
<div class="shopping-cart">
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Shopping Code</label>
    <label class="product-removal">Detail Cartitems</label>
    <label class="product-price">Checkout </label>
    <label class="product-quantity">Quantity</label>
    <label class="product-line-price">Total</label>
  </div>
{% for cart in object_list %}
  <div class="product">
    <div class="product-image">
      {{ forloop.counter }}
    </div>
    <div class="product-details">
      <div class="product-title">{{ cart.success_code }}</div>
    </div>
    <div class="product-removal"><a href="{% url 'cart:cart_detail' id=cart.id%}" target="_blank">Detail</a></div>
    <div class="product-price">{{ cart.checkout }}</div>
    <div class="product-quantity">
      {{ cart.total_item }}
    </div>
    <div class="product-line-price">{{ cart.total_price }}</div>
  </div>
{% endfor %}
</div>
</div>

{% endblock %}
