{% extends 'base.html' %}
{% load static %}


{% block headscript %}
<link rel="stylesheet" href="{% static '/css/cart.css' %}">
{% endblock %}


{% block content %}

<div class="container">

<h1>Shopping Cart</h1>


<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-line-price">Total</label>
  </div>



{% for cartitem in object_list %}
  <div class="product">
    <div class="product-image">
      <img src="{{ cartitem.product.image.url }}">
    </div>
    <div class="product-details">

      <div class="product-title"><a href="{% url 'main:product_detail' id=cartitem.product.id %}" target="_blank">{{ cartitem.product.name }}</a></div>
      <p class="product-description"><span style="color:gray;"><strike>{{ cartitem.product.initial_price }}</strike></span> - <span style="color:green;">%{{ product.product.off }}</span></p>
    </div>
    <div class="product-price">{{ cartitem.product.final_price }}</div>
    <div class="product-quantity">
      {{ cartitem.quantity }}
    </div>
    <div class="product-line-price">{{ cartitem.price }}</div>
  </div>

{% endfor %}


</div>
<br><br><br>
</div>




{% endblock %}
