{% extends 'base.html' %}
{% load static %}


{% block css %}
/* Global settings */

.product-image {
  float: left;
  width: 20%;
}

.product-details {
  float: left;
  width: 37%;
}

.product-price {
  float: left;
  width: 12%;
}

.product-quantity {
  float: left;
  width: 10%;
}

.product-removal {
  float: left;
  width: 9%;
}

.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: '';
  display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '';
}

/* Body/Header stuff */
body {
  padding: 0px 30px 30px 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

label {
  color: #aaa;
}

.shopping-cart {
  margin-top: -45px;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px;
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.product .product-image {
  text-align: center;
}
.product .product-image img {
  width: 100px;
}
.product .product-details .product-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.product .product-quantity input {
  width: 40px;
}
.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 12px;
  border-radius: 3px;
}
.product .remove-product:hover {
  background-color: #a44;
}

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}
.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}

.checkout_button {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout_button:hover {
  background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }

  .column-labels {
    display: none;
  }

  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }

  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }

  .product-price {
    clear: both;
    width: 70px;
  }

  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }

  .product-quantity:before {
    content: 'x';
  }

  .product-removal {
    width: auto;
  }

  .product-line-price {
    float: right;
    width: 70px;
  }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }

  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

  /* .product .product-line-price:before {
    content: 'Item Total: $';
  }/*

  .totals .totals-item label {
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}
{% endblock %}


{% block content %}
<div class="container">

{% if empty %}

<h1> The cart session has expired or cart empty </h1>

{% else %}
<h1>Shopping Cart</h1>

<div class="shopping-cart">
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

{% for product in products %}
  <div class="product">
    <div class="product-image">
      <img src="{{ product.product.image.url }}">
    </div>
    <div class="product-details">
      <div class="product-id">{{ product.product.id }}</div>
      <div class="product-title">{{ product.product.name }}</div>
      <p class="product-description"><span style="color:gray;"><strike>{{ product.product.initial_price }}</strike></span> - <span style="color:green;">%{{ product.product.off }}</span></p>
    </div>
    <div class="product-price">{{ product.product.final_price }}</div>
    <div class="product-quantity">
      <input class="quantity" type="number" value="{{ product.quantity }}" max="3" min="1">
    </div>
    <div class="product-removal">
      <button class="remove-product" value="{{ product.product.id }}" id="{{ product.product.name }}">
        Remove
      </button>
    </div>
    <div class="product-line-price">{{ product.price }}</div>
  </div>

{% endfor %}


  <div class="totals">
    <!-- <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">3.60</div>
    </div> -->

    <div class="totals-item totals-item-total">
      <label>Total Price</label>
      <div class="totals-value" id="cart-total">{{ total_price }}</div>
    </div>
  </div>

{% if user.is_authenticated %}
<button class="checkout" id="finalize">Finalize</button>
<form class="form" action="{% url 'cart:checkout' %}" method="post" >
  {% csrf_token %}
<input type="text" name="id" value="" style="display: none;" id="id">
<input type="text" name="quantity" value="" style="display: none;" id="quantity">
<input type="submit" class="checkout_button" id="checkout_button" name="checkout" value="Checkout" style="display: none;">
</form>
{% else %}
<a href="{% url 'user:login' %}?next={{ request.get_full_path|urlencode }}" class="checkout" >Login</a>
{% endif %}
</div>
<br><br><br>
{% endif %}

</div>


<script>

  $( document ).ready(function(){
      $('#message').fadeIn('slow', function(){
         $('#message').delay(4000).fadeOut();
      });
  });

  $(function () {
      $('#finalize').on('click', function () {
        var id_list = [];
        var quantity_list = [];
        $('.product-id').each(function () {
          var ID = $(this).text();
          id_list.push(ID);
        });
        $('.quantity').each(function () {
          var quantity = $(this).val();
          quantity_list.push(quantity);
        });
        $("#id").val(id_list.toString());
        $("#quantity").val(quantity_list.toString());
        $(".form").attr("visibility","visible");
        $("#finalize").hide();
        $("#checkout_button").show();
      });
  });



$(".product-id").hide();
$(document).ready(function() {
/* Set rates + misc */
// var taxRate = 0.05;
var fadeTime = 300;
/* Assign actions */
$('.product-quantity input').change( function() {
  updateQuantity(this);
  var cquantity =  $(this).parent().children('.quantity').val();
  var cname = $(this).parent().siblings('.product-removal').children('.remove-product').attr('id');
  var cvalue = $(this).parent().siblings('.product-removal').children('.remove-product').val();
  var d = new Date();
  d.setTime(d.getTime() + (24*60*60*1000));
  var expires = "expires=" + d.toGMTString();
  document.cookie = cname + "=" + [cvalue , cquantity] + ";" + expires + ";path=/";
});

$('.product-removal button').click( function() {
  removeItem(this);
  var cookie = $(this).parent().siblings('.product-details').children('.product-title').html().toString();
  document.cookie = cookie +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
});
/* Recalculate cart */
function recalculateCart()
{
  var subtotal = 0;

  /* Sum up row totals */
  $('.product').each(function () {
    subtotal += parseInt($(this).children('.product-line-price').text().replace(/,/g, ''));
  });
  /* Calculate totals */
  // var tax = subtotal * taxRate;
  // var total = subtotal + tax + shipping;
  var total = subtotal;
  /* Update totals display */
  $('.totals-value').fadeOut(fadeTime, function() {
    $('#cart-subtotal').html(subtotal.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
    $('#cart-total').html(total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
    if(total == 0){
      $('.checkout').fadeOut(fadeTime);
      // $("#checkout_button").hide();
      $("#finalize").hide();
      location.reload()
    }else{
      $('.checkout').fadeIn(fadeTime);
      $("#checkout_button").hide();
    }
    $('.totals-value').fadeIn(fadeTime);
  });
}

/* Update quantity */
function updateQuantity(quantityInput)
{
  /* Calculate line price */
  var productRow = $(quantityInput).parent().parent();
  var price = parseInt(productRow.children('.product-price').text().replace(/,/g, ''));
  var quantity = $(quantityInput).val();
  var linePrice = price * quantity;
  /* Update line price display and recalc cart totals */
  productRow.children('.product-line-price').each(function () {
    $(this).fadeOut(fadeTime, function() {
      $(this).text(linePrice.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'));
      recalculateCart();
      $(this).fadeIn(fadeTime);
    });
  });
}
/* Remove item from cart */
function removeItem(removeButton)
{
  /* Remove row from DOM and recalc cart total */
  var productRow = $(removeButton).parent().parent();
  productRow.slideUp(fadeTime, function() {
    productRow.remove();
    recalculateCart();
  });
}
});
</script>

{% endblock %}
