{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <h1>Manufacturers List</h1>
<ul>
{% for instance in object_list %}
<li>
  <img src="{{ instance.image.url }}" alt="" width="200px" height="150px">
</li>
<li>
  Title : <a href="{{ instance.get_absolute_url }}">{{ instance.name }}</a>
</li>
<li>
  Content : <br> {{ instance.desc }}
</li>
<br>
{% if user.is_superuser %}
<a href="{% url 'main:manufacturer_update' id=instance.id %}">Update</a>
<a href="{% url 'main:manufacturer_delete' id=instance.id %}">Delete</a>
{% endif %}
{% endfor %}
</ul>
</div>

{% endblock %}
