{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <h1>Manufacturer Update Page</h1>
  <h3>Updating : <a href="{{ object.get_absolute_url }}">{{ object }} </a></h3>
  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
         {% if 'Edit' in field.label_tag %}
         {{ field }}
         <div class="valid-feedback">
           Manufacturer Ok !
         </div>
         <div class="invalid-feedback">
           Manufacturer Exists !
         </div>
         <br>
         {% else %}
          {{ field }}<br><br>
         {% endif %}

         <span id="message">
               {% for error in field.errors %}
               <div class="alert alert-warning" style="width:35%;">
                 {{ error }}
               </div>
               {% endfor %}
         </span>
       {% endfor %}
       <br><br>
    <input class="btn btn-lg btn-primary" type="submit" value="Create">
  </form>
</div>

<script src="{% static '/js/validator.js' %}"></script>

{% endblock %}
