{% extends 'base.html' %}

{% block content %}

<div class="container">
  <br><br>
  <h1>Manufacturer Update Page </h1>
  <h3>Updating : <a href="{{ object.get_absolute_url }}">{{ object }} </a></h3>
  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
         {% if 'Name' in field.label_tag %}
         {{ field }}
         <div class="valid-feedback">
           Manufacturer Ok !
         </div>
         <br><br>
         {% else %}
         {{ field }}<br><br>
         {% endif %}
         <br>
         <span id="message">
               {% for error in field.errors %}
               <div class="alert alert-warning" style="width:35%;">
                 {{ error }}
               </div>
               {% endfor %}
         </span>
       {% endfor %}
       <br><br>
    <input type="submit" value="Update">
    <a href="{% url 'main:manu_list' %}">Cancel</a>
  </form>
</div>

{% endblock %}
