{% extends 'base.html' %}
{% load multi_image %}

{% block content %}

<div class="container">
  <br><br>
  <img src="{{ object.image.url }}" alt="" width="800" height="600">
  <br>
  {% images product as muliti_images %}
      {% if muliti_images %}
      {% for image in muliti_images %}
      <span><img src="/media/{{ image }}" width="100px" height="80px" class="zoom"></span>
      {% endfor %}
      {% else %}
      <span style="color:brown;" class="mx-4">No Multi Images Found</span>
      <br><br>
      {% endif %}

  <br><br>
  <div class="product-add">
    <button class="btn btn-success" title="Add To Cart" value="{{ product.id }}" id="{{ product.name }}">
      <i class="fas fa-shopping-cart"></i>
    </button>
  </div>
  <br><br>

  Name : {{ object.name }} <br>
  <small> {{ object.model }}</small> <br>

  {{ object.manufacturer }} / {{ object.category }} <br>
  Initial Price : {{ object.initial_price }}<br>
  Off : {{ object.off }}<br>
  Finall Price : {{ object.final_price }}<br>
  Create :{{ object.create }}<br>
  Update : {{ object.update }}<br>
  {% if user.is_staff %}
    Stock : {{ object.stock }}<br>
  {% endif %}
  {% if object.tags.all %}
  <div style="display:flex">
      {% for tag in object.tags.all|slice:"0:3" %}
      <a href="{% url 'main:tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
      {% endfor %}
  </div>
  {% endif %}
  Content : <br> <p>{{ object.desc }}</p>
  <br><br><br><br>
</div>

<script>
  $('.product-add button').click( function() {
      var cname = $(this).attr('id');
      var cvalue = $(this).val();
      var d = new Date();
      d.setTime(d.getTime() + (24*60*60*1000));
      var expires = "expires=" + d.toGMTString();
      document.cookie = cname + "=" + [cvalue , '1'] + ";" + expires + ";path=/";
    });
</script>


{% endblock %}
