{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<html>
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static '/bootstrap-4/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/tagsinput.css' %}">
  <link rel="stylesheet" href="{% static '/css/sidebar.css' %}">

<!-- fontawesome -->
  <link rel="stylesheet" href="{% static '/fontawesome-5.12/css/all.css' %}" >
  <link rel="stylesheet" href="{% static '/fontawesome-5.12/css/fontawesome.css' %}" >
  <link rel="stylesheet" href="{% static '/fontawesome-5.12/css/brands.css' %}" >
  <link rel="stylesheet" href="{% static '/fontawesome-5.12/css/solid.css' %}" >
  <script src="{% static '/fontawesome-5.12/js/brands.js' %}"></script>
  <script src="{% static '/fontawesome-5.12/js/solid.js' %}"></script>
  <script src="{% static '/fontawesome-5.12/js/fontawesome.js' %}"></script>
<!--  -->

  <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/js/popper.min.js' %}"></script>
  <script src="{% static '/bootstrap-4/js/bootstrap.min.js' %}"></script>

  {% block headscript %}

  {% endblock %}

  <style>
    {% block css %}

    {% endblock %}
  </style>

  <title>
    A Django Online Shop, Created By Masoud Taee
      {% block title %}
      {% endblock %}
  </title>

</head>

<body>
      {% include 'sidebar.html' %}

      {% block content %}
      
      {% endblock %}

</body>
</html>
